<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <title>Annanjin</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i">
  <!-- css -->
  <link rel="stylesheet" th:href="@{/client/vendor/bootstrap-4.2.1/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/client/vendor/owl-carousel-2.3.4/assets/owl.carousel.min.css}">
  <link rel="stylesheet" th:href="@{/client/css/style.css}">
  <!-- js -->
  <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
  <script type="text/javascript" th:src="@{/client/vendor/jquery-3.3.1/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/client/vendor/bootstrap-4.2.1/js/bootstrap.bundle.min.js}"></script>
  <script type="text/javascript" th:src="@{/client/vendor/owl-carousel-2.3.4/owl.carousel.min.js}"></script>
  <script type="text/javascript" th:src="@{/client/vendor/nouislider-12.1.0/nouislider.min.js}"></script>
  <script type="text/javascript" th:src="@{/client/js/number.js}"></script>
  <script type="text/javascript" th:src="@{/client/js/main.js}"></script>
  <script type="text/javascript" th:src="@{/client/vendor/svg4everybody-2.1.9/svg4everybody.min.js}"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script>svg4everybody();</script>
  <!-- font - fontawesome -->
  <link rel="stylesheet" th:href="@{/client/vendor/fontawesome-5.6.1/css/all.min.css}">
  <!-- font - stroyka -->
  <link rel="stylesheet" th:href="@{/client/fonts/stroyka/stroyka.css}">
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-97489509-6"></script>
  <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
          dataLayer.push(arguments);
      }

      gtag('js', new Date());
      gtag('config', 'UA-97489509-6');

      $(function () {
          $("#category-menu-list").addClass('departments--opened departments--fixed')
      });
  </script>
</head>
<body>
<header layout:fragment="site_header" class="site__header d-lg-block d-none">
  <div class="site-header">
    <!-- .topbar -->
    <div class="site-header__topbar topbar">
      <div class="topbar__container container">
        <div class="topbar__row">
          <div class="topbar__item topbar__item--link"><a class="topbar-link" href="#" th:text="#{about-us}">About
            Us</a></div>
          <div class="topbar__item topbar__item--link"><a class="topbar-link" href="#" th:text="#{contact-us}">Contact
            Us</a></div>
          <div class="topbar__item topbar__item--link"><a class="topbar-link" href="#" th:text="#{store-location}">Store
            Location</a></div>
          <div class="topbar__spring"></div>
          <div class="topbar__item">
            <div class="topbar-dropdown">
              <button class="topbar-dropdown__btn" type="button">
                <span th:text="#{language}" class="px-1">Language</span>
                <span class="topbar__item-value" th:text="#{label.language.value}">English</span>
                <svg width="7px" height="5px">
                  <use th:xlink:href='@{/client/images/sprite.svg#arrow-rounded-down-7x5}'></use>
                </svg>
              </button>
              <div class="topbar-dropdown__body">
                <!-- .menu -->
                <ul class="menu menu--layout--topbar menu--with-icons font-weight-normal">
                  <li>
                    <a th:href="@{${#httpServletRequest.requestURI} + '?lang=en'}" class="px-2 py-1">
                      <img class="mr-1" width="20%" height="20%" src="#" th:src="@{/client/images/languages/us.svg}"
                           alt="">
                      English
                    </a>
                  </li>
                  <li>
                    <a th:href="@{${#httpServletRequest.requestURI} + '?lang=vi'}" class="px-2 py-1">
                      <img class="mr-1" width="20%" height="20%" src="#" th:src="@{/client/images/languages/vn.svg}"
                           alt="">
                      Tiếng Việt
                    </a>
                  </li>
                  <li>
                    <a th:href="@{${#httpServletRequest.requestURI} + '?lang=ja'}" class="px-2 py-1">
                      <img class="mr-1" width="20%" height="20%" src="#" th:src="@{/client/images/languages/jp.svg}"
                           alt="">
                      日本語
                    </a>
                  </li>
                  <li>
                    <a th:href="@{${#httpServletRequest.requestURI} + '?lang=zh'}" class="px-2 py-1">
                      <img class="mr-1" width="20%" height="20%" src="#" th:src="@{/client/images/languages/cn.svg}"
                           alt="">
                      中文
                    </a>
                  </li>
                </ul>
                <!-- .menu / end -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .topbar / end -->
    <div class="site-header__middle container">
      <div class="site-header__logo">
        <a th:href="@{/}">
          <img width="240px" height="70px" th:src="@{/client/images/logos/logo-header.png}">
        </a>
      </div>
      <div class="site-header__search">
        <div class="search">
          <form class="search__form" action="#">
            <input class="search__input" name="search" th:placeholder="#{label.search-bar}"
                   aria-label="Site search" type="text" autocomplete="off">
            <button class="search__button" type="submit">
              <svg width="20px" height="20px">
                <use th:xlink:href="@{/client/images/sprite.svg#search-20}"></use>
              </svg>
            </button>
            <div class="search__border"></div>
          </form>
        </div>
      </div>
      <div class="site-header__phone">
        <div class="site-header__phone-title" th:text="#{customer-service}">Customer Service</div>
        <div class="site-header__phone-number">(+84) 98 765 432</div>
      </div>
    </div>
    <div class="site-header__nav-panel">
      <div class="nav-panel">
        <div class="nav-panel__container container">
          <div class="nav-panel__row">
            <div class="nav-panel__departments">
              <!-- .departments -->
              <div id="category-menu-list" class="departments" data-departments-fixed-by="">
                <div class="departments__body">
                  <div class="departments__links-wrapper">
                    <ul class="departments__links">
                      <li class="departments__item">
                        <a href="#">
                          Power Tools
                          <svg class="departments__link-arrow" width="6px" height="9px">
                            <use th:xlink:href="@{/client/images/sprite.svg#arrow-rounded-right-6x9}"></use>
                          </svg>
                        </a>
                        <div class="departments__megamenu departments__megamenu--xl">
                          <!-- .megamenu -->
                          <div class="megamenu megamenu--departments"
                               th:style="|background-image: url(@{/client/images/megamenu/megamenu-1.jpg});|">
                            <div class="row">
                              <div class="col-3">
                                <ul class="megamenu__links megamenu__links--level--0">
                                  <li class="megamenu__item megamenu__item--with-submenu"><a href="#">Power Tools</a>
                                    <ul class="megamenu__links megamenu__links--level--1">
                                      <li class="megamenu__item"><a href="#">Engravers</a></li>
                                      <li class="megamenu__item"><a href="#">Drills</a></li>
                                      <li class="megamenu__item"><a href="#">Wrenches</a></li>
                                      <li class="megamenu__item"><a href="#">Plumbing</a></li>
                                      <li class="megamenu__item"><a href="#">Wall Chaser</a></li>
                                      <li class="megamenu__item"><a href="#">Pneumatic Tools</a></li>
                                      <li class="megamenu__item"><a href="#">Milling Cutters</a></li>
                                    </ul>
                                  </li>
                                  <li class="megamenu__item"><a href="#">Workbenches</a></li>
                                  <li class="megamenu__item"><a href="#">Presses</a></li>
                                  <li class="megamenu__item"><a href="#">Spray Guns</a></li>
                                  <li class="megamenu__item"><a href="#">Riveters</a></li>
                                </ul>
                              </div>
                              <div class="col-3">
                                <ul class="megamenu__links megamenu__links--level--0">
                                  <li class="megamenu__item megamenu__item--with-submenu"><a href="#">Hand Tools</a>
                                    <ul class="megamenu__links megamenu__links--level--1">
                                      <li class="megamenu__item"><a href="#">Screwdrivers</a></li>
                                      <li class="megamenu__item"><a href="#">Handsaws</a></li>
                                      <li class="megamenu__item"><a href="#">Knives</a></li>
                                      <li class="megamenu__item"><a href="#">Axes</a></li>
                                      <li class="megamenu__item"><a href="#">Multitools</a></li>
                                      <li class="megamenu__item"><a href="#">Paint Tools</a></li>
                                    </ul>
                                  </li>
                                  <li class="megamenu__item megamenu__item--with-submenu"><a href="#">Garden
                                    Equipment</a>
                                    <ul class="megamenu__links megamenu__links--level--1">
                                      <li class="megamenu__item"><a href="#">Motor Pumps</a></li>
                                      <li class="megamenu__item"><a href="#">Chainsaws</a></li>
                                      <li class="megamenu__item"><a href="#">Electric Saws</a></li>
                                      <li class="megamenu__item"><a href="#">Brush Cutters</a></li>
                                    </ul>
                                  </li>
                                </ul>
                              </div>
                              <div class="col-3">
                                <ul class="megamenu__links megamenu__links--level--0">
                                  <li class="megamenu__item megamenu__item--with-submenu">
                                    <a href="#">MachineTools</a>
                                    <ul class="megamenu__links megamenu__links--level--1">
                                      <li class="megamenu__item"><a href="#">Thread Cutting</a></li>
                                      <li class="megamenu__item"><a href="#">Chip Blowers</a></li>
                                      <li class="megamenu__item"><a href="#">Sharpening Machines</a></li>
                                      <li class="megamenu__item"><a href="#">Pipe Cutters</a></li>
                                      <li class="megamenu__item"><a href="#">Slotting machines</a></li>
                                      <li class="megamenu__item"><a href="#">Lathes</a></li>
                                    </ul>
                                  </li>
                                </ul>
                              </div>
                              <div class="col-3">
                                <ul class="megamenu__links megamenu__links--level--0">
                                  <li class="megamenu__item megamenu__item--with-submenu"><a href="#">Instruments</a>
                                    <ul class="megamenu__links megamenu__links--level--1">
                                      <li class="megamenu__item"><a href="#">Welding Equipment</a></li>
                                      <li class="megamenu__item"><a href="#">Power Tools</a></li>
                                      <li class="megamenu__item"><a href="#">Hand Tools</a></li>
                                      <li class="megamenu__item"><a href="#">Measuring Tool</a></li>
                                    </ul>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <!-- .megamenu / end -->
                        </div>
                      </li>
                      <li class="departments__item">
                        <a href="#">Hand Tools
                          <svg class="departments__link-arrow" width="6px" height="9px">
                            <use th:xlink:href="@{/client/images/sprite.svg#arrow-rounded-right-6x9}"></use>
                          </svg>
                        </a>
                        <div class="departments__megamenu departments__megamenu--lg">
                          <!-- .megamenu -->
                          <div class="megamenu megamenu--departments"
                               th:style="|background-image: url(@{/client/images/megamenu/megamenu-2.jpg});|">
                            <div class="row">
                              <div class="col-4">
                                <ul class="megamenu__links megamenu__links--level--0">
                                  <li class="megamenu__item megamenu__item--with-submenu"><a href="#">Hand Tools</a>
                                    <ul class="megamenu__links megamenu__links--level--1">
                                      <li class="megamenu__item"><a href="#">Screwdrivers</a></li>
                                      <li class="megamenu__item"><a href="#">Handsaws</a></li>
                                      <li class="megamenu__item"><a href="#">Knives</a></li>
                                      <li class="megamenu__item"><a href="#">Axes</a></li>
                                      <li class="megamenu__item"><a href="#">Multitools</a></li>
                                      <li class="megamenu__item"><a href="#">Paint Tools</a></li>
                                    </ul>
                                  </li>
                                  <li class="megamenu__item megamenu__item--with-submenu"><a href="#">Garden
                                    Equipment</a>
                                    <ul class="megamenu__links megamenu__links--level--1">
                                      <li class="megamenu__item"><a href="#">Motor Pumps</a></li>
                                      <li class="megamenu__item"><a href="#">Chainsaws</a></li>
                                      <li class="megamenu__item"><a href="#">Electric Saws</a></li>
                                      <li class="megamenu__item"><a href="#">Brush Cutters</a></li>
                                    </ul>
                                  </li>
                                </ul>
                              </div>
                              <div class="col-4">
                                <ul class="megamenu__links megamenu__links--level--0">
                                  <li class="megamenu__item megamenu__item--with-submenu"><a href="#">Machine
                                    Tools</a>
                                    <ul class="megamenu__links megamenu__links--level--1">
                                      <li class="megamenu__item"><a href="#">Thread Cutting</a></li>
                                      <li class="megamenu__item"><a href="#">Chip Blowers</a></li>
                                      <li class="megamenu__item"><a href="#">Sharpening Machines</a></li>
                                      <li class="megamenu__item"><a href="#">Pipe Cutters</a></li>
                                      <li class="megamenu__item"><a href="#">Slotting machines</a></li>
                                      <li class="megamenu__item"><a href="#">Lathes</a></li>
                                    </ul>
                                  </li>
                                </ul>
                              </div>
                              <div class="col-4">
                                <ul class="megamenu__links megamenu__links--level--0">
                                  <li class="megamenu__item megamenu__item--with-submenu"><a href="#">Instruments</a>
                                    <ul class="megamenu__links megamenu__links--level--1">
                                      <li class="megamenu__item"><a href="#">Welding Equipment</a></li>
                                      <li class="megamenu__item"><a href="#">Power Tools</a></li>
                                      <li class="megamenu__item"><a href="#">Hand Tools</a></li>
                                      <li class="megamenu__item"><a href="#">Measuring Tool</a></li>
                                    </ul>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <!-- .megamenu / end -->
                        </div>
                      </li>
                      <li class="departments__item">
                        <a href="#">Machine Tools
                          <svg class="departments__link-arrow" width="6px" height="9px">
                            <use th:xlink:href="@{/client/images/sprite.svg#arrow-rounded-right-6x9}"></use>
                          </svg>
                        </a>
                        <div class="departments__megamenu departments__megamenu--nl">
                          <!-- .megamenu -->
                          <div class="megamenu megamenu--departments"
                               th:style="|background-image: url(@{/client/images/megamenu/megamenu-3.jpg});|">
                            <div class="row">
                              <div class="col-6">
                                <ul class="megamenu__links megamenu__links--level--0">
                                  <li class="megamenu__item megamenu__item--with-submenu">
                                    <a href="#">Hand Tools</a>
                                    <ul class="megamenu__links megamenu__links--level--1">
                                      <li class="megamenu__item"><a href="#">Screwdrivers</a></li>
                                      <li class="megamenu__item"><a href="#">Handsaws</a></li>
                                      <li class="megamenu__item"><a href="#">Knives</a></li>
                                      <li class="megamenu__item"><a href="#">Axes</a></li>
                                      <li class="megamenu__item"><a href="#">Multitools</a></li>
                                      <li class="megamenu__item"><a href="#">Paint Tools</a></li>
                                    </ul>
                                  </li>
                                  <li class="megamenu__item megamenu__item--with-submenu">
                                    <a href="#">Garden Equipment</a>
                                    <ul class="megamenu__links megamenu__links--level--1">
                                      <li class="megamenu__item"><a href="#">Motor Pumps</a></li>
                                      <li class="megamenu__item"><a href="#">Chainsaws</a></li>
                                      <li class="megamenu__item"><a href="#">Electric Saws</a></li>
                                      <li class="megamenu__item"><a href="#">Brush Cutters</a></li>
                                    </ul>
                                  </li>
                                </ul>
                              </div>
                              <div class="col-6">
                                <ul class="megamenu__links megamenu__links--level--0">
                                  <li class="megamenu__item megamenu__item--with-submenu">
                                    <a href="#">Instruments</a>
                                    <ul class="megamenu__links megamenu__links--level--1">
                                      <li class="megamenu__item"><a href="#">Welding Equipment</a></li>
                                      <li class="megamenu__item"><a href="#">Power Tools</a></li>
                                      <li class="megamenu__item"><a href="#">Hand Tools</a></li>
                                      <li class="megamenu__item"><a href="#">Measuring Tool</a></li>
                                    </ul>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div><!-- .megamenu / end -->
                        </div>
                      </li>
                      <li class="departments__item">
                        <a href="#">Building Supplies
                          <svg class="departments__link-arrow" width="6px" height="9px">
                            <use th:xlink:href="@{/client/images/sprite.svg#arrow-rounded-right-6x9}"></use>
                          </svg>
                        </a>
                        <div class="departments__megamenu departments__megamenu--sm">
                          <!-- .megamenu -->
                          <div class="megamenu megamenu--departments">
                            <div class="row">
                              <div class="col-12">
                                <ul class="megamenu__links megamenu__links--level--0">
                                  <li class="megamenu__item megamenu__item--with-submenu">
                                    <a href="#">Hand Tools</a>
                                    <ul class="megamenu__links megamenu__links--level--1">
                                      <li class="megamenu__item"><a href="#">Screwdrivers</a></li>
                                      <li class="megamenu__item"><a href="#">Handsaws</a></li>
                                      <li class="megamenu__item"><a href="#">Knives</a></li>
                                      <li class="megamenu__item"><a href="#">Axes</a></li>
                                      <li class="megamenu__item"><a href="#">Multitools</a></li>
                                      <li class="megamenu__item"><a href="#">Paint Tools</a></li>
                                    </ul>
                                  </li>
                                  <li class="megamenu__item megamenu__item--with-submenu">
                                    <a href="#">Garden Equipment</a>
                                    <ul class="megamenu__links megamenu__links--level--1">
                                      <li class="megamenu__item"><a href="#">Motor Pumps</a></li>
                                      <li class="megamenu__item"><a href="#">Chainsaws</a></li>
                                      <li class="megamenu__item"><a href="#">Electric Saws</a></li>
                                      <li class="megamenu__item"><a href="#">Brush Cutters</a></li>
                                    </ul>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <!-- .megamenu / end -->
                        </div>
                      </li>
                      <li class="departments__item departments__item--menu">
                        <a href="#">Electrical
                          <svg class="departments__link-arrow" width="6px" height="9px">
                            <use th:xlink:href="@{/client/images/sprite.svg#arrow-rounded-right-6x9}"></use>
                          </svg>
                        </a>
                        <div class="departments__menu">
                          <!-- .menu -->
                          <ul class="menu menu--layout--classic">
                            <li>
                              <a href="#">Soldering Equipment
                                <svg class="menu__arrow" width="6px" height="9px">
                                  <use th:xlink:href="@{/client/images/sprite.svg#arrow-rounded-right-6x9}"></use>
                                </svg>
                              </a>
                              <div class="menu__submenu">
                                <!-- .menu -->
                                <ul class="menu menu--layout--classic">
                                  <li><a href="#">Soldering Station</a></li>
                                  <li><a href="#">Soldering Dryers</a></li>
                                  <li><a href="#">Gas Soldering Iron</a></li>
                                  <li><a href="#">Electric Soldering Iron</a></li>
                                </ul><!-- .menu / end -->
                              </div>
                            </li>
                            <li><a href="#">Light Bulbs</a></li>
                            <li><a href="#">Batteries</a></li>
                            <li><a href="#">Light Fixtures</a></li>
                            <li><a href="#">Warm Floor</a></li>
                            <li><a href="#">Generators</a></li>
                            <li><a href="#">UPS</a></li>
                          </ul>
                          <!-- .menu / end -->
                        </div>
                      </li>
                      <li class="departments__item"><a href="#">Power Machinery</a></li>
                    </ul>
                  </div>
                </div>
                <button class="departments__button">
                  <svg class="departments__button-icon" width="18px" height="14px">
                    <use th:xlink:href="@{/client/images/sprite.svg#menu-18x14}"></use>
                  </svg>
                  <span th:text="#{shop-by-category}">Shop By Category</span>
                  <svg class="departments__button-arrow" width="9px" height="6px">
                    <use th:xlink:href="@{/client/images/sprite.svg#arrow-rounded-down-9x6}"></use>
                  </svg>
                </button>
              </div>
              <!-- .departments / end -->
            </div>
            <!-- .nav-links -->
            <div class="nav-panel__nav-links nav-links col-sm-8">
              <div class="row">
                <div class="col-sm-3 d-inline-flex px-0">
                  <div class="col-sm-1 p-0 pt-2 ml-0 mr-3">
                    <div style="fill: #0f74a8;" class="m-0">
                      <svg width="36px" height="40px">
                        <use th:xlink:href="@{/client/images/sprite.svg#fi-free-delivery-48}"></use>
                      </svg>
                    </div>
                  </div>
                  <div class="col-sm-1 p-0 pt-1 mr-0 ml-3 d-flex flex-column text-nowrap">
                    <div class="d-inline-block m-0">
                      Free shipping
                    </div>
                    <div class="d-inline-block m-0">
                      From $50
                    </div>
                  </div>
                </div>
                <div class="col-sm-3 d-inline-flex px-0">
                  <div class="col-sm-1 p-0 pt-2 ml-0 mr-3">
                    <div style="fill: #0f74a8;" class="m-0">
                      <svg width="36px" height="40px">
                        <use th:xlink:href="@{/client/images/sprite.svg#fi-24-hours-48}"></use>
                      </svg>
                    </div>
                  </div>
                  <div class="col-sm-1 p-0 pt-1 mr-0 ml-3 d-flex flex-column text-nowrap">
                    <div class="d-inline-block m-0">
                      Support 24/7
                    </div>
                    <div class="d-inline-block m-0">
                      Call us anytime
                    </div>
                  </div>
                </div>
                <div class="col-sm-3 d-inline-flex px-0">
                  <div class="col-sm-1 p-0 pt-2 ml-0 mr-3">
                    <div style="fill: #0f74a8;" class="m-0">
                      <svg width="36px" height="40px">
                        <use th:xlink:href="@{/client/images/sprite.svg#fi-payment-security-48}"></use>
                      </svg>
                    </div>
                  </div>
                  <div class="col-sm-1 p-0 pt-1 mr-0 ml-3 d-flex flex-column text-nowrap">
                    <div class="d-inline-block m-0">
                      100% Safety
                    </div>
                    <div class="d-inline-block m-0">
                      Secure payments
                    </div>
                  </div>
                </div>
                <div class="col-sm-3 d-inline-flex px-0">
                  <div class="col-sm-1 p-0 pt-2 ml-0 mr-3">
                    <div style="fill: #0f74a8;" class="m-0">
                      <svg width="36px" height="40px">
                        <use th:xlink:href="@{/client/images/sprite.svg#fi-tag-48}"></use>
                      </svg>
                    </div>
                  </div>
                  <div class="col-sm-1 p-0 pt-1 mr-0 ml-3 d-flex flex-column text-nowrap">
                    <div class="d-inline-block m-0">
                      Hot Offers
                    </div>
                    <div class="d-inline-block m-0">
                      Discounts up to 90%
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- .nav-links / end -->
            <div class="nav-panel__indicators">
              <div class="indicator">
                <a href="#" class="indicator__button">
                  <span class="indicator__area">
                    <svg width="20px" height="20px">
                        <use th:xlink:href="@{/client/images/sprite.svg#heart-20}"></use>
                      </svg>
                    <span class="indicator__value">0</span>
                  </span>
                </a>
              </div>
              <div class="indicator indicator--trigger--click">
                <a href="#" class="indicator__button">
                  <span class="indicator__area">
                    <svg width="20px" height="20px">
                      <use th:xlink:href="@{/client/images/sprite.svg#cart-20}"></use>
                    </svg>
                    <span class="indicator__value">3</span>
                  </span>
                </a>
                <div class="indicator__dropdown">
                  <!-- .dropcart -->
                  <div class="dropcart">
                    <div class="dropcart__products-list">
                      <div class="dropcart__product">
                        <div class="dropcart__product-image">
                          <a href="#">
                            <img src="#" th:src="@{/client/images/products/product-1.jpg}" alt="">
                          </a>
                        </div>
                        <div class="dropcart__product-info">
                          <div class="dropcart__product-name">
                            <a href="#">
                              Electric Planer Brandix KL370090G 300 Watts
                            </a>
                          </div>
                          <ul class="dropcart__product-options">
                            <li>Color: Yellow</li>
                            <li>Material: Aluminium</li>
                          </ul>
                          <div class="dropcart__product-meta">
                            <span class="dropcart__product-quantity">2</span> x
                            <span class="dropcart__product-price">$699.00</span>
                          </div>
                        </div>
                        <button type="button" class="dropcart__product-remove btn btn-light btn-sm btn-svg-icon">
                          <svg width="10px" height="10px">
                            <use th:xlink:href="@{/client/images/sprite.svg#cross-10}"></use>
                          </svg>
                        </button>
                      </div>
                      <div class="dropcart__product">
                        <div class="dropcart__product-image">
                          <a href="#">
                            <img src="#" th:src="@{/client/images/products/product-2.jpg}" alt="">
                          </a>
                        </div>
                        <div class="dropcart__product-info">
                          <div class="dropcart__product-name">
                            <a href="#">
                              Undefined Tool IRadix DPS3000SY 2700 watts
                            </a>
                          </div>
                          <div class="dropcart__product-meta"><span class="dropcart__product-quantity">1</span> x
                            <span class="dropcart__product-price">$849.00</span></div>
                        </div>
                        <button type="button" class="dropcart__product-remove btn btn-light btn-sm btn-svg-icon">
                          <svg width="10px" height="10px">
                            <use th:xlink:href="@{/client/images/sprite.svg#cross-10}"></use>
                          </svg>
                        </button>
                      </div>
                      <div class="dropcart__product">
                        <div class="dropcart__product-image">
                          <a href="#">
                            <img src="#" th:src="@{/client/images/products/product-5.jpg}" alt="">
                          </a>
                        </div>
                        <div class="dropcart__product-info">
                          <div class="dropcart__product-name">
                            <a href="#">Brandix Router Power Tool
                              2017ERXPK</a></div>
                          <ul class="dropcart__product-options">
                            <li>Color: True Red</li>
                          </ul>
                          <div class="dropcart__product-meta"><span class="dropcart__product-quantity">3</span> x
                            <span class="dropcart__product-price">$1,210.00</span></div>
                        </div>
                        <button type="button" class="dropcart__product-remove btn btn-light btn-sm btn-svg-icon">
                          <svg width="10px" height="10px">
                            <use th:xlink:href="@{/client/images/sprite.svg#cross-10}"></use>
                          </svg>
                        </button>
                      </div>
                    </div>
                    <div class="dropcart__totals">
                      <table>
                        <tbody>
                        <tr>
                          <th th:text="#{subtotal}">Subtotal</th>
                          <td>$5,877.00</td>
                        </tr>
                        <tr>
                          <th th:text="#{shipping}">Shipping</th>
                          <td>$25.00</td>
                        </tr>
                        <tr>
                          <th th:text="#{tax}">Tax</th>
                          <td>$0.00</td>
                        </tr>
                        <tr>
                          <th th:text="#{total}">Total</th>
                          <td>$5,902.00</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="dropcart__buttons">
                      <a class="btn btn-secondary" href="#">View Cart</a>
                      <a class="btn btn-primary" href="#">Checkout</a>
                    </div>
                  </div>
                  <!-- .dropcart / end -->
                </div>
              </div>
              <div class="indicator">
                <a href="#" class="indicator__button">
                  <span class="indicator__area" style="font-size: 20px;">
                    <i class="far fa-user"></i>
                    <span class="indicator__value">0</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<section>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</section>
<footer layout:fragment="site_footer" class="site__footer">
  <div class="site-footer">
    <div class="container">
      <div class="site-footer__widgets">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4">
            <div class="site-footer__widget footer-contacts">
              <h5 class="footer-contacts__title">Contact Us</h5>
              <div class="footer-contacts__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in feugiat lorem. Pellentque ac
                placerat tellus.
              </div>
              <ul class="footer-contacts__contacts">
                <li>
                  <i class="footer-contacts__icon fas fa-globe-americas"></i>
                  33 Nguyentrai Street, Hadong, Hanoi
                </li>
                <li>
                  <i class="footer-contacts__icon far fa-envelope"></i>
                  email@annanjin.me
                </li>
                <li>
                  <i class="footer-contacts__icon fas fa-mobile-alt"></i>
                  (+84) 98 765 432
                </li>
                <li>
                  <i class="footer-contacts__icon far fa-clock"></i>
                  Mon-Sat 10:00pm - 7:00pm
                </li>
              </ul>
            </div>
          </div>
          <div class="col-6 col-md-3 col-lg-2">
            <div class="site-footer__widget footer-links"><h5 class="footer-links__title">
              Information</h5>
              <ul class="footer-links__list">
                <li class="footer-links__item"><a href="#" class="footer-links__link">About Us</a>
                </li>
                <li class="footer-links__item"><a href="#" class="footer-links__link">Delivery
                  Information</a></li>
                <li class="footer-links__item"><a href="#" class="footer-links__link">Privacy
                  Policy</a></li>
                <li class="footer-links__item"><a href="#" class="footer-links__link">Brands</a>
                </li>
                <li class="footer-links__item"><a href="#" class="footer-links__link">Contact Us</a>
                </li>
                <li class="footer-links__item"><a href="#" class="footer-links__link">Returns</a>
                </li>
                <li class="footer-links__item"><a href="#" class="footer-links__link">Site Map</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-6 col-md-3 col-lg-2">
            <div class="site-footer__widget footer-links"><h5 class="footer-links__title">My
              Account</h5>
              <ul class="footer-links__list">
                <li class="footer-links__item"><a href="#" class="footer-links__link">Store
                  Location</a></li>
                <li class="footer-links__item"><a href="#" class="footer-links__link">Order
                  History</a></li>
                <li class="footer-links__item"><a href="#" class="footer-links__link">Wish List</a>
                </li>
                <li class="footer-links__item"><a href="#" class="footer-links__link">Newsletter</a>
                </li>
                <li class="footer-links__item"><a href="#" class="footer-links__link">Specials</a>
                </li>
                <li class="footer-links__item"><a href="#" class="footer-links__link">Gift
                  Certificates</a></li>
                <li class="footer-links__item"><a href="#" class="footer-links__link">Affiliate</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-12 col-lg-4">
            <div class="site-footer__widget footer-newsletter"><h5 class="footer-newsletter__title">
              Newsletter</h5>
              <div class="footer-newsletter__text">Praesent pellentesque volutpat ex, vitae auctor
                lorem pulvinar mollis felis at lacinia.
              </div>
              <form action="#" class="footer-newsletter__form"><label class="sr-only" for="footer-newsletter-address">Email
                Address</label> <input type="text" class="footer-newsletter__form-input form-control"
                                       id="footer-newsletter-address" placeholder="Email Address...">
                <button class="footer-newsletter__form-button btn btn-primary">Subscribe</button>
              </form>
              <div class="footer-newsletter__text footer-newsletter__text--social">Follow us on social
                networks
              </div>
              <ul class="footer-newsletter__social-links">
                <li class="footer-newsletter__social-link footer-newsletter__social-link--facebook">
                  <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li class="footer-newsletter__social-link footer-newsletter__social-link--twitter">
                  <a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li class="footer-newsletter__social-link footer-newsletter__social-link--youtube">
                  <a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
                <li class="footer-newsletter__social-link footer-newsletter__social-link--instagram">
                  <a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li class="footer-newsletter__social-link footer-newsletter__social-link--rss"><a
                        href="#" target="_blank"><i class="fas fa-rss"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="site-footer__bottom">
        <div class="site-footer__copyright">
          Powered by HTML — Design by <a href="https://themeforest.net/user/kos9" target="_blank">Kos</a>
        </div>
        <div class="site-footer__payments"><img th:src="@{/client/images/payments.png}" alt=""></div>
      </div>
    </div>
  </div>
</footer>
</body>
</html>