<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" layout:decorate="~{client/layout}">
<head>
  <title>Login</title>
  <script>
      $(function () {
          $("#register-form").submit(function (e) {
              e.preventDefault();
              let formData = new FormData(this);
              // validate
              // get data
              let data = {};
              formData.forEach(function (value, key) {
                  data[key] = value;
              });
              $.ajax({
                  url: "/api/register",
                  type: "POST",
                  dataType: "text",
                  contentType: "application/json",
                  data: JSON.stringify(data),
                  success: function (respData) {
                      $("#error-message").text('');
                      $("#register-form").trigger("reset");
                      window.location.href = "/register-successfully";
                  },
                  error: function (respData) {
                      $("#error-message").text(respData.responseText);
                  }
              });
          });
      });
  </script>
</head>
<body>
<section layout:fragment="site_section" class="site__body">
  <div class="page-header">
    <div class="page-header__container container">
      <div class="page-header__breadcrumb">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a th:href="@{/}">Home</a>
              <svg class="breadcrumb-arrow" width="6px" height="9px">
                <use th:xlink:href="@{/client/images/sprite.svg#arrow-rounded-right-6x9}"></use>
              </svg>
            </li>
            <li class="breadcrumb-item">
              <a href="#">Breadcrumb</a>
              <svg class="breadcrumb-arrow" width="6px" height="9px">
                <use th:xlink:href="@{/client/images/sprite.svg#arrow-rounded-right-6x9}"></use>
              </svg>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Login</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <div class="block">
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-flex">
          <div class="card flex-grow-1 mb-md-0">
            <div class="card-body"><h3 class="card-title">Login</h3>
              <form method="post" th:action="@{/login}">
                <div class="form-group">
                  <label style="width: 100%;">
                    Username
                    <input type="text" name="username" class="form-control" placeholder="Enter username" autofocus
                           required>
                  </label>
                </div>
                <div class="form-group mb-2">
                  <label style="width: 100%;">
                    Password
                    <input type="password" name="password" class="form-control" placeholder="Password" required>
                  </label>
                  <small class="form-text text-muted"><a href="#">Forgotten Password</a></small>
                </div>
                <div class="form-group mb-2">
                  <div class="form-check">
                    <span class="form-check-input input-check">
                      <span class="input-check__body">
                        <input class="input-check__input" type="checkbox" name="remember-me" id="remember-me">
                        <span class="input-check__box"></span>
                        <svg class="input-check__icon" width="9px" height="7px">
                          <use th:xlink:href="@{/client/images/sprite.svg#check-9x7}"></use>
                        </svg>
                      </span>
                    </span>
                    <label class="form-check-label" for="remember-me">Remember Me</label>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary mt-1">Login</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex mt-4 mt-md-0">
          <div class="card flex-grow-1 mb-0">
            <div class="card-body">
              <h3 class="card-title">Register</h3>
              <form id="register-form" method="post" th:action="@{/register}">
                <div class="form-group">
                  <label style="width: 100%;">
                    Username
                    <input type="text" name="username" class="form-control" placeholder="Username">
                  </label>
                </div>
                <div class="form-group">
                  <label style="width: 100%;">
                    Password
                    <input type="password" name="password" class="form-control" placeholder="Password">
                  </label>
                </div>
                <div class="form-group">
                  <label style="width: 100%;">
                    Confirm Password
                    <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm password">
                  </label>
                </div>
                <div class="form-group">
                  <label style="width: 100%;">
                    Name
                    <input type="text" name="name" class="form-control" placeholder="Name">
                  </label>
                </div>
                <div class="form-group">
                  <label style="width: 100%;">
                    Phone Number
                    <input type="text" name="phone" class="form-control" placeholder="Phone Number">
                  </label>
                </div>
                <div class="form-group">
                  <label style="width: 100%;">
                    Email
                    <input type="text" name="email" class="form-control" placeholder="Email">
                  </label>
                </div>
                <div class="form-group">
                  <label style="width: 100%;">
                    Address
                    <input type="text" name="address" class="form-control" placeholder="Address">
                  </label>
                </div>
                <p id="error-message" class="text-danger"></p>
                <button type="submit" class="btn btn-primary mt-4">Register</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>