<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Access is denied</title>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>
<body>
<section class="text-center">
  <h1 class="h1">¯\_(⊙_ʖ⊙)_/¯ Oops!</h1>
  <h1 style="color: #ff024d;" class="h1">Access Is Denied!</h1>
  <h1 class="h2">You have no permission to access the page.</h1>
  <a th:href="@{/}" class="btn btn-primary mt-2">Go Homepage</a>
</section>
</body>
</html>