body {
  background-color: #f5f5f5;
}

.web-form {
  width: 100%;
  max-width: 384px;
  margin: auto;
  padding: 15px;
}

.web-form .confirm-signup {
  font-size: 70%;
  text-align: center;
  width: 97%;
  margin: auto;
}

form .footer-form p {
  text-align: center;
  margin: auto;
}