<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin_layout}">
<head>
  <title>Add Product</title>
  <!--js jquery ui autocomplete-->
  <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <!--js jquery table-->
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
  <!--bootstrap jquery table-->
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/select/1.3.0/js/dataTables.select.min.js"></script>
  <!--css jquery ui autocomplete-->
  <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
  <!--bootstrap css jquery table-->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.0/css/select.bootstrap4.min.css">
  <script type="text/javascript" th:src="@{/ckeditor/ckeditor.js}"></script>
  <script type="text/javascript" th:src="@{/ckfinder/ckfinder.js}"></script>
  <script>
      let selectedImgUrl = "";
      let productCategories = new Map();
      let table;
      let categories;

      $(function () {
          $.ajax({
              type: "POST",
              url: "/api/category/list",
              dataType: "json",
              success: function (respData) {
                  categories = respData;
                  let text = '<option></option>';
                  for (let i = 0; i < categories.length; i++) {
                      text += ('<option value="' + categories[i].id + '">' + categories[i].name + '</option>');
                  }
                  $("#input-category").html(text);
              }
          });

          table = $("#product-table").DataTable({
              processing: true,
              serverSide: true,
              ajax: {
                  url: "/api/admin/product/table_data",
                  type: "POST",
                  dataType: "json",
                  contentType: "application/json",
                  data: function (datatableRequest) {
                      return JSON.stringify(datatableRequest);
                  }
              },
              deferRender: true,
              columns: [
                  {data: "id"},
                  {data: "id"},
                  {data: "name"},
                  {data: "quantity"},
                  {data: "price"},
                  {data: "categories[, ].name"},
                  {data: "id"}
              ],
              columnDefs: [
                  {orderable: false, targets: [0, 5, 6]},
                  {
                      render: function () {
                          return "";
                      },
                      className: 'select-checkbox',
                      targets: 0
                  },
                  {
                      render: function (data, type, row) {
                          return '<button class="btn btn-sm btn-success mx-1">Detail</button>'
                              + '<button class="btn btn-sm btn-info mx-1">Edit</button>'
                              + '<button class="btn btn-sm btn-danger mx-1">Delete</button>'
                      },
                      targets: 6
                  }
              ],
              select: {
                  style: 'multi',
                  selector: 'td:first-child'
              },
              order: [1, 'asc'],
              language: {
                  url: "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Vietnamese.json"
              },
              lengthMenu: [10, 25, 50, 100, 200]
          });

          // autocomplete widget ui
          $.widget("custom.combobox", {
              _create: function () {
                  this.wrapper = $("<span>")
                      .addClass("custom-combobox")
                      .insertAfter(this.element);
                  this.element.hide();
                  this._createAutocomplete();
                  this._createShowAllButton();
              },
              _createAutocomplete: function () {
                  let selected = this.element.children(":selected"),
                      value = selected.val() ? selected.text() : "";

                  this.input = $("<input>")
                      .appendTo(this.wrapper)
                      .val(value)
                      .attr("title", "")
                      .addClass("custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left")
                      .autocomplete({
                          delay: 0,
                          minLength: 0,
                          source: $.proxy(this, "_source"),
                          appendTo: "#add-product-form-modal"
                      })
                      .tooltip({
                          classes: {
                              "ui-tooltip": "ui-state-highlight"
                          }
                      });
                  this._on(this.input, {
                      autocompleteselect: function (event, ui) {
                          productCategories.set(ui.item.value, ui.item.label);
                          let text = "";
                          productCategories.forEach(function (value, key) {
                              let tmp = "'" + key + "'";
                              text += '<div class="category-tag alert alert-info">\n' +
                                  value +
                                  '<button onclick="removeCategory(' + tmp + ')" value="" type="button" class="close" data-dismiss="alert">&#10005;</button>\n' +
                                  '</div>';
                          });
                          $("#selected-category-list").html(text);
                          ui.item.option.selected = true;
                          this._trigger("select", event, {
                              item: ui.item.option
                          });
                      },
                      autocompletechange: "_removeIfInvalid"
                  });
              },
              _createShowAllButton: function () {
                  let input = this.input,
                      wasOpen = false;
                  $("<a>")
                      .attr("tabIndex", -1)
                      .attr("title", "Show All Items")
                      .tooltip()
                      .appendTo(this.wrapper)
                      .button({
                          icons: {
                              primary: "ui-icon-triangle-1-s"
                          },
                          text: false
                      })
                      .removeClass("ui-corner-all")
                      .addClass("custom-combobox-toggle ui-corner-right")
                      .on("mousedown", function () {
                          wasOpen = input.autocomplete("widget").is(":visible");
                      })
                      .on("click", function () {
                          input.trigger("focus");
                          // Close if already visible
                          if (wasOpen) {
                              return;
                          }
                          // Pass empty string as value to search for, displaying all results
                          input.autocomplete("search", "");
                      });
              },
              _source: function (request, response) {
                  let matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i");
                  response(this.element.children("option").map(function () {
                      let text = this.text;
                      let value = this.value;
                      if (value && (!request.term || matcher.test(text)))
                          return {
                              label: text,
                              value: value,
                              option: this
                          };
                  }));
              },
              _removeIfInvalid: function (event, ui) {
                  // Selected an item, nothing to do
                  if (ui.item) {
                      return;
                  }
                  // Search for a match (case-insensitive)
                  let value = this.input.val(),
                      valueLowerCase = value.toLowerCase(),
                      valid = false;
                  this.element.children("option").each(function () {
                      if ($(this).text().toLowerCase() === valueLowerCase) {
                          this.selected = valid = true;
                          return false;
                      }
                  });
                  // Found a match, nothing to do
                  if (valid) {
                      return;
                  }
                  // Remove invalid value
                  this.input
                      .val("")
                      .attr("title", value + " didn't match any item")
                      .tooltip("open");
                  this.element.val("");
                  this._delay(function () {
                      this.input.tooltip("close").attr("title", "");
                  }, 2500);
                  this.input.autocomplete("instance").term = "";
              },
              _destroy: function () {
                  this.wrapper.remove();
                  this.element.show();
              }
          });
          $("#input-category").combobox();

          // press button to submit form via ajax
          $('button[type=submit]').on("click", function (e) {
              e.preventDefault();
              let name = $("#input-name").val();
              let quantity = $("#input-quantity").val();
              let price = $("#input-price").val();
              let thumbnailUrl = selectedImgUrl;
              let description = CKEDITOR.instances['input-description'].getData();
              let seletedCategories = [];
              categories.forEach(e => {
                  if (productCategories.has(e.id.toString())) {
                      seletedCategories.push(e);
                  }
              });
              // simple (for testing) validation before post
              if (name.length <= 0 || quantity.length <= 0 || price.length <= 0
                  || thumbnailUrl.length <= 0 || description.length <= 0) {
                  alert("Fields must be entered!");
                  return;
              }
              if (isNaN(parseInt(quantity)) || isNaN(parseFloat(price))) {
                  alert("Must be numeric!");
                  return;
              }
              // post
              let postData = {
                  "name": name,
                  "quantity": quantity,
                  "price": price,
                  "categories": seletedCategories,
                  "description": description,
                  "thumbnailUrl": thumbnailUrl
              };
              $.ajax({
                  url: "/api/admin/product/add",
                  type: "POST",
                  contentType: "application/json",
                  data: JSON.stringify(postData),
                  success: function (receivedDataFromServer) {
                      selectedImgUrl = "";
                      $("#input-name").val("");
                      $("#input-quantity").val("");
                      $("#input-price").val("");
                      $("#input-description").val("");
                      $("#input-file-label").html("Choose thumbnail image...");
                      $("#input-file-label").css("color", "black");
                      CKEDITOR.instances['input-description'].setData("");
                      productCategories.clear();
                      $(".custom-combobox-input").val("");
                      $("#selected-category-list").html("");
                      $("#add-product-status").html(receivedDataFromServer);
                      $("#add-product-form-modal").modal('hide');
                      $("#add-product-status-modal").modal('show');
                      table.draw();
                  },
                  error: function () {
                      $("#add-product-status").html("Can't connect to server!");
                      $("#add-product-form-modal").modal('hide');
                      $("#add-product-status-modal").modal('show');
                  }
              });
          });

          // pervent press enter to submit
          $('form').keydown(function (e) {
              if (e.keyCode === 13) {
                  e.preventDefault();
                  return false;
              }
          });
      });

      function removeCategory(categoryId) {
          productCategories.delete(categoryId);
      }

      // CKFinder
      function BrowseServer(startupPath) {
          let finder = new CKFinder();
          finder.basePath = '../';
          finder.startupPath = startupPath;
          finder.selectActionFunction = SetFileField;
          finder.popup();
      }

      function SetFileField(fileUrl) {
          selectedImgUrl = fileUrl;
          $("#input-file-label").html(this.getSelectedFile().name);
          $("#input-file-label").css("color", "green");
      }
  </script>
  <style>
    #add-product-form-modal .modal-body {
      overflow-y: auto;
      height: calc(100vh - 200px);
    }

    .custom-combobox {
      position: relative;
      display: inline-block;
      width: 100%;
    }

    .custom-combobox-toggle {
      position: absolute;
      top: 0;
      bottom: 0;
      margin-left: -1px;
      padding: 0;
    }

    .custom-combobox-input {
      margin: 0;
      padding: 5px 10px;
      width: 97%;
      background-color: white;
    }

    .category-tag {
      width: 20%;
      margin: 1px 5px 10px 5px;
      max-height: 30px;
      line-height: 30px;
      padding: 1px 4px 30px 12px;
    }

    #selected-category-list {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
    }

    .custom-form-div {
      margin: 0 15px 0 15px;
    }

    td {
      word-break: break-all;
    }
  </style>
</head>
<body>
<section layout:fragment="content_body">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row my-4">
          <div class="col-md-6">
            <h3>List of Products</h3>
          </div>
          <div class="col-md-6">
            <button type="button" data-target="#add-product-form-modal" data-toggle="modal" class="btn btn-primary">
              Add
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 table-responsive-md">
            <table id="product-table" class="table table-borderless table-hover">
              <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Id</th>
                <th scope="col" style="width: 30%;">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Category</th>
                <th scope="col">Action</th>
              </tr>
              </thead>
              <tfoot>
              <tr>
                <th></th>
                <th>Id</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Category</th>
                <th>Action</th>
              </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--adding product modal-->
  <div class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" id="add-product-form-modal">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Add product</h3>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form th:action="@{/admin/product/add}" method="post">
            <div class="form-group">
              <label class="control-label col-md-2" for="input-name">Name:</label>
              <div class="col-md-12">
                <input class="form-control" id="input-name" type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-2" for="input-quantity">Quantity:</label>
              <div class="col-md-12">
                <input class="form-control" id="input-quantity" type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-2" for="input-price">Price:</label>
              <div class="col-md-12">
                <input class="form-control" id="input-price" type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-2" style="margin-bottom: 0;" for="input-category">Category</label>
              <div class="custom-form-div">
                <div id="selected-category-list"></div>
                <div class="ui-widget">
                  <select id="input-category">
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-2" for="input-file">Thumbnail Image:</label>
              <div class="custom-form-div">
                <div class="custom-file col-md-12">
                  <label class="custom-file-label" for="input-file" id="input-file-label">Choose thumbnail
                    image...</label>
                  <input type="file" id="input-file" class="custom-file-input" onclick="BrowseServer('Images:/');">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-2" for="input-description">Description:</label>
              <div class="custom-form-div">
                <textarea id="input-description"></textarea>
                <script>
                    CKEDITOR.replace('input-description', {
                        filebrowserBrowseUrl: '/ckfinder/ckfinder.html',
                        filebrowserImageBrowseUrl: '/ckfinder/ckfinder.html?type=Images',
                        filebrowserFlashBrowseUrl: '/ckfinder/ckfinder.html?type=Flash',
                        filebrowserUploadUrl: '/ckfinder/core/connector/java/connector.java?command=QuickUpload&type=Files',
                        filebrowserImageUploadUrl: '/ckfinder/core/connector/java/connector.java?command=QuickUpload&type=Images',
                        filebrowserFlashUploadUrl: '/ckfinder/core/connector/java/connector.java?command=QuickUpload&type=Flash'
                    });
                </script>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
  </div>
  <!--adding status modal-->
  <div class="modal fade" role="dialog" id="add-product-status-modal">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content text-center">
        <div class="model-header">
          <h3 class="modal-title">Status</h3>
        </div>
        <div class="modal-body">
          <p id="add-product-status"></p>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>