<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Annanjin</title>
  <!--jQuery-->
  <script type="text/javascript" src="http://code.jquery.com/jquery-3.3.1.js"></script>
  <!--Bootstrap jQuery-->
  <!--<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>-->
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <!--Bootstrap css-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <style>
    footer #copyright {
      width: 100%;
      margin: auto;
      padding: 10px;
      text-align: center;
    }
  </style>
</head>
<body>
<header layout:fragment="header">
</header>
<section layout:fragment="content_body">
</section>
<footer class="sticky-bottom container" layout:fragment="footer">
  <p class="small text-info" id="copyright">Annanjin<sup>&copy;</sup></p>
</footer>
</body>
</html>