<!DOCTYPE html>
<html lang="en" s xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Product List</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-3"><h3>Information</h3></div>
    <div class="col-md-3"><a th:href="@{/product/add}"><h3>Add Product</h3></a></div>
    <div class="col-md-3">
      <form th:action="@{/product/searchByName}" th:method="get">
        <div class="input-group input-group-lg">
          <input class="form-control" name="name" placeholder="Search user by name..."
                 type="text">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <hr>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Description</th>
      <th>Product Image</th>
      <th>Select</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="product : ${products}">
      <tr>
        <td><span th:text="${product.id}"></span></td>
        <td><span th:text="${product.name}"></span></td>
        <td><span th:text="${product.quantity}"></span></td>
        <td><span th:text="${product.price}"></span></td>
        <td><span th:text="${product.description}"></span></td>
        <td><span th:text="${product.productFileName}"></span></td>
        <td><a th:href="@{'/product/' + ${product.id} + '/edit'}">Edit</a>
          | <a th:href="@{'/product/' + ${product.id} + '/delete'}">Delete</a>
        </td>

      </tr>
    </th:block>
    </tbody>
  </table>
</div>
</body>
</html>